@using CarRental.Service
@using CarRental.Repository.Models
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<FindekDto>;
<table class="table table-striped">
        <thead>
            <tr>
            <td>Id</td>
            <td>CustomerId</td>
            <td>Score</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
               <td>@item.Id</td>
                <td>@item.CustomerId</td>
                 <td>@item.Score</td>
                      <td>
                        <a class="btn btn-warning" asp-controller="Findeks" asp-action="Update" asp-route-id="@item.Id">Update</a>
                          <a class="btn btn-danger" asp-controller="Findeks" asp-action="Remove" asp-route-id="@item.Id">Delete</a>
                        </td>
                 </tr>
            }

        </tbody>



    </table>

